<div>

	<ul style=" list-style-type: none;
	            margin: 0;
	            padding: 0;
	            overflow: hidden;">
	    <li style="float: left;background: #5d3b6e; width: 33%; height:30px; padding-top: 6px;" align="center"><a href="?pg=home.php" style="text-decoration:none; color:#fff;">Home</a></li>
	    <li style="float: left;background: #5d3b6e;width: 33%;height:30px; padding-top: 6px;" align="center"><a href="?pg=video.php" style="text-decoration:none; color:#fff;">Videos</a></li>
	    <li style="float: left;background: #5d3b6e;width: 34%;height:30px; padding-top: 6px;" align="center"><a href="?pg=photos.php" style="text-decoration:none; color:#fff;">Photos</a></li>

	</ul>
</div>
