<div data-ng-show=" (portletData | filter:{ portletId: 4,cd_name:'Wallpaper' }).length>0" >
    <div style="height: 30px;
    background: #ccc;
     padding-top: 6px;">
    <h5 style="margin-top: 7px;">Photos</h5>
</div>

<table width="90%" style="margin-top:20px" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td data-ng-repeat="portlet in portletData | filter:{ portletId: 4,cd_name:'Wallpaper'}| limitTo:3" align="center">
            <a href="http://dailymagic.in/direct2Cg.php?c=1&promo={{portlet.promoid}}&f=home&t={{portlet.contentTypeMD5}}&n={{portlet.contentFileURLMD5}}=&m={{portlet.cf_cm_id}}&d={{portlet.cd_id}}"><img src="http://dailymagic.in{{portlet.cft_thumbnail_img_browse}}?{{portlet.timestamp}}" width="{{portlet.cft_thumbnail_size.split('X')[0]}}" height="{{portlet.cft_thumbnail_size.split('X')[1]}}" alt="" /></a>
            <br />
            {{portlet.cm_title}}-{{portlet.cd_name}}
        </td>
    </tr>

    <tr data-ng-show="portletData.length > 0">
        <td height="30" colspan="3" align="right">
            <a href="http://dailymagic.in/direct2Cg.php?c=1&promo={{portlet.promoid}}&f=home" style="text-decoration:none;">More >></a>
        </td>
    </tr>
</table>
</div>